---
import FoundationsCard from "./FoundationsCard.astro";
---

<section class="container" id="foundations">
  <header>
    <h2><span>Our foundations</span></h2>
    <p>
      These foundations create an environment that encourages innovation,
      creativity, and personal growth.
    </p>
  </header>
  <ul>
    <!-- {
      allFoundations.map((f) => (
        <li>
        {
          f.data.title
        }</li>
        <li>
          {
            f.data.description
          }
        </li>
      ))
    } -->
    <FoundationsCard />
  </ul>
</section>

<style>
  h2 {
    white-space: nowrap;
  }

  ul {
    counter-reset: counter;
  }
</style>
